body{
    background-color: hsla(30, 45%, 19%, 0.922);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'ubuntu','sans-serif';

}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: rgb(188, 165, 165);
    align-items: center;
}
.brand img{
    width: 44px;
    border-radius: 10px;

}
nav ul li{
    padding: 0px 12px;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    background-image: url(/apple-music-note.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

   
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: azure;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons i{ cursor: pointer;
    
}
.icons{
    margin-top: 10px;
}
#myProgressBar{
    width: 80vh;
    cursor: pointer;
}
.songlist{
    padding-left: 15px;
}
.songitem{
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    margin: 12px 0;
    border-radius: 15px;
    justify-content: space-between;
   align-items: center;
}
.songitem img {
    width: 50px;
    border-radius: 40px;
    margin: 0 23px ;

}
.timetamp{
    margin: 0 23px ;
}


